<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <title>One to click</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="css/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="css/jquery.formstyler.css" rel="stylesheet">
    <link href="css/select2.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/media.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
   <section class="first">
     <header>
       <div class="container">
         <div class="row">
           <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 logo">
            <a href="#" class="bt-menu-trigger visible-xs" id="codrops-nav"
            data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
            <span>Menu</span><span class="notify">1</span></a>
             <a href="index.html" class="logo-con">
               <img src="img/logo.png" alt="" class="hidden-xs">
               <img src="img/mob-logo.png" alt="" class="visible-xs">
              </a>
           </div>
           <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 phone hidden-xs">
             <p>Звоните нам:</p>
             <span>8 800 500 3535</span>
             <p>Звонок по Росии бесплатный</p>
           </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 login hidden-xs">
            <button>ВОЙТИ</button><a href="">Регистрация</a>
          </div>
         </div>
       </div>
     </header>
     <nav class="hidden-xs main-nav">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
             <ul>
               <li><a href="">Проверка карты</a></li>
               <li><a href="">Оплата</a></li>
               <li><a href="">Вопрос-ответ</a></li>
               <li><a href="">Отзывы клиентов</a></li>
               <li><a href="">Сотрудничество</a></li>
             </ul>
          </div>
        </div>
      </div>
     </nav>
     <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
     <a href="" data-count="1" class="basket"><img src="img/basket.png" alt=""></a>
     <div class="user">
       <a href="" class="user-name">devtimberg</a>
       <a href="" class="log-out">Выйти</a>
     </div>
      <ul>
        <li><a href="">Проверка карты</a></li>
        <li><a href="">Оплата</a></li>
        <li><a href="">Вопрос-ответ</a></li>
        <li><a href="">Отзывы клиентов</a></li>
        <li><a href="">Сотрудничество</a></li>
      </ul>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 login">
        <button>ВОЙТИ</button><a href="">Регистрация</a>
      </div>
    </nav>
     <main>
       <div class="container">
         <div class="row">
           <div class="col-lg-6 col-md-5 col-sm-4 ">
             <img src="img/man.png" alt="" class="img-responsive man hidden-xs">
             <img src="img/man-1.png" alt="" class="img-responsive man visible-xs">
           </div>
           <div class="col-lg-6 col-md-7 col-sm-8">
             <div class="m-right">
               <h1>ДИАГНОСТИЧЕСКАЯ КАРТА <strong>ЗА 5 МИНУТ!</strong></h1>
               <button class="order">ЗАКАЗАТЬ!</button>
               <div class="prices">
                 <p>Цены на карты</p>
                 <div class="cat">
                   <span>A</span>
                   <span class="akciya">B</span>
                   <span>C</span>
                   <span>D</span>
                   <span>E</span>
                 </div>
                 <div class="cat-desc">
                   <span>
                     <img src="img/a.png" alt="">
                     <p>1200</p>
                   </span>
                   <span class="akciya">
                     <img src="img/b.png" alt="">
                     <p>1255 <br/><span class="hidden-xs">АКЦИЯ!</span></p>
                   </span>
                   <span>
                     <img src="img/c.png" alt="">
                     <p>1499</p>
                   </span>
                   <span>
                     <img src="img/d.png" alt="">
                     <p>1499</p>
                   </span>
                   <span>
                     <img src="img/e.png" alt="">
                     <p>1255</p>
                   </span>
                 </div>
               </div>
               <a href="" class="why hidden-xs">Почему это выгодно и удобно?</a>
             </div>
           </div>
         </div>
       </div>
     </main>
   </section>
   <section class="second">
     <div class="container">
       <div class="row">
         <div class="col-lg-12">
           <h2 class="sub-title">Приемущества сервиса</h2>
         </div>
       </div>
       <div class="ser-con">
         <div class="services">
           <img src="img/servis-1.png" alt="">
           <p>Оформление
в пару кликов</p>
         </div>
         <div class="services">
           <img src="img/servis-2.png" alt="">
           <p>Внесение в
ЕАСТО ГИБЛЛ</p>
         </div>
         <div class="services">
           <img src="img/servis-3.png" alt="">
           <p>Выгодно, удобно,
официально</p>
         </div>
         <div class="services">
           <img src="img/servis-4.png" alt="">
           <p>Без показа
автомобиля</p>
         </div>
         <div class="services">
           <img src="img/servis-5.png" alt="">
           <p>Без
очередей</p>
         </div>
       </div>
     </div>
   </section>
   <section class="third">
     <div class="container">
       <div class="row">
         <div class="col-lg-12">
           <h2 class="sub-title">Отзывы клиентов<span>137</span></h2>
         </div>
       </div>
       <div class="row">
         <div class="col-lg-4 col-md-4 col-sm-4 msg">
           <div class="msg-con">
             Заказывал карту для тойоты, пришла оперативно, теперь подходит к концу страховка на опель, заказал еще и на него, думаю все будет так же оперативно
           </div>
           <p><span>Имя:</span>Денис Уткин </p>
           <p><span>Город:</span>Д. Глебово-Избище</p>
           <p><span>Автомобиль:</span>Opel </p>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-4 msg">
           <div class="msg-con">
             Заказывал карту для тойоты, пришла оперативно, теперь подходит к концу страховка на опель, заказал еще и на него, думаю все будет так же оперативно
           </div>
           <p><span>Имя:</span>Денис Уткин </p>
           <p><span>Город:</span>Д. Глебово-Избище</p>
           <p><span>Автомобиль:</span>Opel </p>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-4 msg">
           <div class="msg-con">
             Заказывал карту для тойоты, пришла оперативно, теперь подходит к концу страховка на опель, заказал еще и на него, думаю все будет так же оперативно
           </div>
           <p><span>Имя:</span>Денис Уткин </p>
           <p><span>Город:</span>Д. Глебово-Избище</p>
           <p><span>Автомобиль:</span>Opel </p>
         </div>
       </div>
       <div class="row">
          <div class="col-lg-12 show-more">
             <a href="" class="show-more">Показать все</a>
          </div>
       </div>
     </div>
   </section>
   <footer>
     <div class="container">
       <div class="row">
         <div class="col-lg-12">
            <h2>ДИАГНОСТИЧЕСКАЯ КАРТА <strong>ЗА 5 МИНУТ!</strong></h2>
            <button class="order">ЗАКАЗАТЬ!</button>
         </div>
       </div>
       <div class="row">
         <div class="col-lg-4 col-md-4 col-sm-4 col-lg-push-8 col-md-push-8 col-sm-push-8">
           <p class="f-right">Мы в социальных сетях</p>
           <div class="soc">
             <a href="" class="insta"><img src="img/insta.png" alt=""></a>
             <a href="" class="vk"><img src="img/vk.png" alt=""></a>
            </div>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-4">
           <p class="a-desc">
            Атетстат наших партнеров<br/>
             <img src="img/at.png" alt="">
           </p>

         </div>
         <div class="col-lg-4 col-md-4 col-sm-4 col-lg-pull-8 col-md-pull-8 col-sm-pull-8">
           <a href="" class="f-logo"><img src="img/logo.png" alt=""></a>
           <p class="f-left">
              Наши телефоны: <br/>
              +7 (495) 768-18-87 8-800-100-28-87 <br/>
              Email: info@to-online.net          <br/>
           </p>
           <p class="f-left">
© 2015-2016 <a href="">ONETOCLICK.RU</a>. Все права защищены. <br/>
<a href="">ONETOCLICK.RU</a> - Диагностические карты онлайн на любой автотранспорт с доставкой по всей Россий
           </p>
         </div>
       </div>
     </div>
   </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/moment-with-locales.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-datetimepicker.min.js"></script>
    <script src="js/jasny-bootstrap.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/jquery.formstyler.min.js"></script>
    <script src="js/select2.full.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
