<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <title>One to click</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="css/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="css/jquery.formstyler.css" rel="stylesheet">
    <link href="css/select2.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/media.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<section class="order-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12" style="text-align: center;">
                        <h3 class="order-title">
                           Вход в личный кабинет
                        </h3>
                        <div class="message">
                            <ul>
                                <li><img src="img/done.png" alt="">Какое-то важное сообщение.</li>
                            </ul>
                        </div>
                        <div class="col-md-offset-3 col-md-6 col-sm-12">
                            <form action="">
                                <div class="input-con">
                                    <label for="id_FName">Ваш e-mail</label>
                                    <input type="email" id="id_FName" name="id_FName" class="field" required>
                                </div>
                                <div class="input-con">
                                    <label for="id_Name">Пароль</label>
                                    <input type="password" id="id_Name" name="id_Name" class="field" required>
                                </div>
                                <button class="submit-btn" style="display: inline-block;" type="submit">ВОЙТИ В КАБИНЕТ</button>
                                <br>
                                <a href="" class="back">Восстановить пароль</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-lg-push-8 col-md-push-8 col-sm-push-8">
                <p class="f-right">Мы в социальных сетях</p>
                <div class="soc">
                    <a href="" class="insta"><img src="img/insta.png" alt=""></a>
                    <a href="" class="vk"><img src="img/vk.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p class="a-desc">
                    Атетстат наших партнеров<br/>
                    <img src="img/at.png" alt="">
                </p>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-lg-pull-8 col-md-pull-8 col-sm-pull-8">
                <a href="" class="f-logo"><img src="img/logo.png" alt=""></a>
                <p class="f-left">
                    Наши телефоны: <br/>
                    +7 (495) 768-18-87 8-800-100-28-87 <br/>
                    Email: info@to-online.net          <br/>
                </p>
                <p class="f-left">
                    © 2015-2016 <a href="">ONETOCLICK.RU</a>. Все права защищены. <br/>
                    <a href="">ONETOCLICK.RU</a> - Диагностические карты онлайн на любой автотранспорт с доставкой по всей Россий
                </p>
            </div>
        </div>
    </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/moment-with-locales.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-datetimepicker.min.js"></script>
<script src="js/jasny-bootstrap.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.formstyler.min.js"></script>
<script src="js/select2.full.min.js"></script>
<script src="js/jquery.maskedinput.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
