<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>

<style type="text/css">
    body {
        font-size: 12px;
    }

    table {
        width: 100%;
        background-color: white;
        border-collapse: collapse;
        border-width: 1px;
        border-color: #000;
        border-style: solid;
        color: black;
        margin-bottom: 10px;
    }

    table td, table th {
        border-width: 1px;
        border-color: #000;
        border-style: solid;
        padding: 3px;
    }

    table td.no-border {
        border-style: none;
    }

</style>

<body>
<h1 style="font-size: 14px; text-align: center;">Диагностическая карта Certificate of periodic technical inspection</h1>

<table>
    <tr>
        <td colspan="3" style="margin: 0;">
            <table style="text-align: center; margin: 0 auto; width: 280px;">
                <caption><b>Регистрационный номер</b></caption>
                <tr>
                    <td><b>2</b></td>
                    <td><b>1</b></td>
                    <td><b>1</b></td>
                    <td><b>1</b></td>
                    <td><b>1</b></td>
                    <td><b>1</b></td>
                    <td><b>1</b></td>
                    <td><b>1</b></td>
                    <td><b>1</b></td>
                    <td><b>1</b></td>
                    <td><b>1</b></td>
                    <td><b>1</b></td>
                    <td><b>1</b></td>
                    <td><b>1</b></td>
                    <td><b>1</b></td>
                </tr>
            </table>
        </td>

        <td colspan="3" style="margin: 0;">
            <table style="text-align: center; margin: 0 auto; width: 160px;">
                <caption><b>Срок действия до</b></caption>
                <tr>
                    <td><b>1</b></td>
                    <td><b>1</b></td>
                    <td><b>1</b></td>
                    <td><b>1</b></td>
                    <td><b>1</b></td>
                    <td><b>1</b></td>
                    <td><b>1</b></td>
                    <td><b>1</b></td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td colspan="6"><b>Оператор технического осмотра/пункт технического осмотра:</b> ОАО ЛАЛ 07598 / </td>
    </tr>

    <tr>
        <td style="width: 28%;"><b>Первичная проверка</b></td>
        <td style="width: 5%; text-align: center"><b>X</b></td>
        <th colspan="2"></th>
        <td style="width: 28%;"><b>Повторная проверка</b></td>
        <td style="width: 5%;"></td>
    </tr>

    <tr>
        <td colspan="2"><b>Регистрационный знак ТС:</b></td>
        <td style="width: 15%; text-align: center"><b>Х506ТН47</b></td>
        <td style="width: 18%;"><b>Марка, модель ТС:</b></td>
        <td style="text-align: center;" colspan="2"><b>FORD FOCUS</b></td>
    </tr>

    <tr>
        <td colspan="2"><b>VIN:</b></td>
        <td><b>X9F5XXEED55C70874</b></td>
        <td><b>Категория ТС:</b></td>
        <td colspan="2" style="text-align: center"><b>B, ЛЕГКОВОЙ М1</b></td>
    </tr>

    <tr>
        <td colspan="2"><b>Номер рамы:</b></td>
        <td><b></b></td>
        <td rowspan="2"><b>Год выпуска ТС:</b></td>
        <td rowspan="2" colspan="2" style="text-align: center;"><b>2005</b></td>
    </tr>

    <tr>
        <td colspan="2"><b>Номер кузова:</b></td>
        <td><b>X9F5XXEED55C70874</b></td>
    </tr>

    <tr>
        <td colspan="6"><b>СРТС или ПТС (серия, номер, выдан кем, когда):</b>&nbsp;
            СРТС, 4717, 344657, ОП МРЭО ГИБДД №12 "КИРИШИ", 26.04.2014
        </td>
    </tr>
</table>

<table style="font-size: 8px; line-height: 8px; text-align: left; margin-bottom: 25px;">
    <tr>
        <td style="width: 2%;">№</td>
        <td style="width: 21.33%;"><b>Параметры и требования, предъявляемые к транспортным средствам при проведении теънического осмотра</b></td>
        <td style="width: 2%;"></td>

        <td style="width: 2%;">№</td>
        <td style="width: 21.33%;"><b>Параметры и требования, предъявляемые к транспортным средствам при проведении теънического осмотра</b></td>
        <td style="width: 2%;"></td>

        <td style="width: 2%;">№</td>
        <td style="width: 21.33%;"><b>Параметры и требования, предъявляемые к транспортным средствам при проведении теънического осмотра</b></td>
        <td style="width: 2%;"></td>
    </tr>

    <tr>
        <td colspan="3"><b>I.Тормозные системы</b></td>
        <td>23</td>
        <td>Соответствие источника света в фарах</td>
        <td></td>
        <td>44</td>
        <td>Работоспособность аварийного выключателя дверей и сигнала требования остановки</td>
        <td>&#8212;</td>
    </tr>

    <tr>
        <td>1</td>
        <td>Соответствие показателей эффективности торможения и устойчивости торможения</td>
        <td></td>
        <td colspan="3"><b>IV. Стеклоочистители и стеклоомыватели</b></td>
        <td>45</td>
        <td>Работоспособность аварийных выходов, приборов внутреннего освещения салона, привода управления дверями и сигнализации их работы</td>
        <td>&#8212;</td>
    </tr>

    <tr>
        <td>2</td>
        <td>Соответствие разности тормозных сил установленным требованиям</td>
        <td></td>
        <td>24</td>
        <td>Наличие стеклоочистителя и форсунки стеклоомывателя ветрового стекла</td>
        <td></td>
        <td>46</td>
        <td>Наличие работоспособного звукового сигнального прибора</td>
        <td></td>
    </tr>

    <tr>
        <td>3</td>
        <td>Работоспособность рабочей тормозной системы автопоездов с пневматическим тормозным приводом в режиме аварийного (автоматического) торможения</td>
        <td>&#8212;</td>
        <td>25</td>
        <td>Обеспечение стеклоомывателем подачи жидкости в зоны очистки стекла</td>
        <td></td>
        <td>47</td>
        <td>Наличие обозначений аварийных выходов и табличек по правилам их использования. Обеспечение свободного доступа к аварийным выходам</td>
        <td>&#8212;</td>
    </tr>

    <tr>
        <td>4</td>
        <td>Отсутствие утечек сжатого воздуха из колесных тормозных камер</td>
        <td>&#8212;</td>
        <td>26</td>
        <td>Работоспособность стеклоочистителей и стеклоомывателей</td>
        <td></td>
        <td>48</td>
        <td>Наличие задних и боковых защитных устройств, соответствие их нормам</td>
        <td>&#8212;</td>
    </tr>

    <tr>
        <td>5</td>
        <td>Отсутствие подтеканий тормозной жидкости, нарушения герметичности трубопроводов или соединений в гидравлическом тормозном приводе</td>
        <td></td>
        <td colspan="3"><b>V. Шины и колеса</b></td>
        <td>49</td>
        <td>Работоспособность автоматического замка, ручной и автоматической блокировки седельно-сцепного устройства. Отсутствие видимых повреждений сцепных устройств</td>
        <td>&#8212;</td>
    </tr>

    <tr>
        <td>6</td>
        <td>Отсутствие коррозии, грозящей потерей герметичности или разрушением</td>
        <td></td>
        <td>27</td>
        <td>Соответствие высоты рисунка протектора шин установленным требованиям</td>
        <td></td>
        <td>50</td>
        <td>Наличие работоспособных предохранительных приспособлений у одноосных прицепов (за исключением роспусков) и прицепов, не оборудованных рабочей тормозной системой</td>
        <td>&#8212;</td>
    </tr>

    <tr>
        <td>7</td>
        <td>Отсутствие механических повреждений тормозных трубопроводов</td>
        <td></td>
        <td>28</td>
        <td>Отсутствие признаков непригодности шин к эксплуатации</td>
        <td></td>
        <td>51</td>
        <td>Оборудование прицепов (за исключением одноосных и роспусков) исправным устройством, поддерживающим сцепную петлю дышла в положении, облегчающем сцепку и расцепку с тяговым автомобилем</td>
        <td>&#8212;</td>
    </tr>

    <tr>
        <td>8</td>
        <td>Отсутствие трещин остаточной деформации деталей тормозного привода</td>
        <td></td>
        <td>29</td>
        <td>Наличие всех болтов или гаек крепления дисков и ободьев колес</td>
        <td></td>
        <td>52</td>
        <td>Отсутствие продольного люфта в беззазорных тягово-сцепных устройствах с тяговой вилкой для сцепленного с прицепом тягача</td>
        <td>&#8212;</td>
    </tr>

    <tr>
        <td>9</td>
        <td>Исправность средств сигнализации и контроля тормозных систем</td>
        <td></td>
        <td>30</td>
        <td>Отсутствие трещин на дисках и ободьях колес</td>
        <td></td>
        <td>53</td>
        <td>Обеспечение тягово-сцепными устройствами легковых автомобилей беззазорной сцепки сухарей замкового устройства с шаром</td>
        <td></td>
    </tr>

    <tr>
        <td>10</td>
        <td>Отсутствие набухания тормозных шлангов под давлением, трещин и видимых мест перетирания</td>
        <td></td>
        <td>31</td>
        <td>Отсутствие видимых нарушений формы и размеров крепежных отверстий в дисках колес</td>
        <td></td>
        <td>54</td>
        <td>Соответствие размерных характеристик сцепных устройств установленным требованиям</td>
        <td></td>
    </tr>

    <tr>
        <td>11</td>
        <td>Расположение и длина соединительных шлангов пневматического тормозного привода автопоездов</td>
        <td>&#8212;</td>
        <td>32</td>
        <td>Установка шин на транспортное средство в соответствии с требованиями</td>
        <td></td>
        <td>55</td>
        <td>Оснащение транспортных средств исправными ремнями безопасности</td>
        <td></td>
    </tr>

    <tr>
        <td colspan="3"><b>II. Рулевое управление</b></td>
        <td colspan="3"><b>VI. Двигатель и его системы</b></td>
        <td>56</td>
        <td>Наличие знака аварийной остановки</td>
        <td></td>
    </tr>

    <tr>
        <td>12</td>
        <td>Работоспособность усилителя рулевого управления. Плавность изменения усилия при повороте рулевого колеса</td>
        <td></td>
        <td>33</td>
        <td>Соответствие содержания загрязняющих веществ в отработавших газах транспортных средств установленным требованиям</td>
        <td></td>
        <td>57</td>
        <td>Наличие не менее двух противооткатных упоров</td>
        <td>&#8212;</td>
    </tr>

    <tr>
        <td>13</td>
        <td>Отсутствие самопроизвольного поворота рулевого колеса с усилителем рулевого управления от нейтрального положения при работающем двигателе</td>
        <td></td>
        <td>34</td>
        <td>Отсутствие подтекания и каплепадения топлива в системе питания</td>
        <td></td>
        <td>58</td>
        <td>Наличие огнетушителей, соответствующих установленным требованиям</td>
        <td></td>
    </tr>

    <tr>
        <td>14</td>
        <td>Отсутствие превышения предельных значений суммарного люфта в рулевом управлении</td>
        <td></td>
        <td>35</td>
        <td>Работоспособность запорных устройств и устройств перекрытия топлива</td>
        <td></td>
        <td>59</td>
        <td>Надежное крепление поручней в автобусах, запасного колеса, аккумуляторной батареи, сидений, огнетушителей и медицинской аптечки</td>
        <td>&#8212;</td>
    </tr>

    <tr>
        <td>15</td>
        <td>Отсутствие повреждения и полная комплектность деталей крепления рулевой колонки и картера рулевого механизма</td>
        <td></td>
        <td>36</td>
        <td>Герметичность системы питания транспортных средств, работающих на газе. Соответствие газовых баллонов установленным требованиям</td>
        <td></td>
        <td>60</td>
        <td>Работоспособность механизмов регулировки сидений</td>
        <td></td>
    </tr>

    <tr>
        <td>16</td>
        <td>Отсутствие следов остаточной деформации, трещин и других дефектов в рулевом механизме и рулевом приводе</td>
        <td></td>
        <td>37</td>
        <td>Соответствие нормам уровня шума выпускной системы</td>
        <td></td>
        <td>61</td>
        <td>Наличие надколесных грязезащитных устройств, отвечающих установленным требованиям</td>
        <td>&#8212;</td>
    </tr>

    <tr>
        <td>17</td>
        <td>Отсутствие устройств, ограничивающих поворот рулевого колеса, не предусмотренных конструкцией</td>
        <td></td>
        <td colspan="3"><b>VII. Прочие элементы конструкции</b></td>
        <td>62</td>
        <td>Соответствие вертикальной статической нагрузки на тяговое устройство автомобиля от сцепной петли одноосного прицепа (прицепа-роспуска) нормам</td>
        <td>&#8212;</td>
    </tr>

    <tr>
        <td colspan="3"><b>III. Внешние световые приборы</b></td>
        <td>38</td>
        <td>Наличие зеркал заднего вида в соответствии с требованиями</td>
        <td></td>
        <td>63</td>
        <td>Работоспособность держателя запасного колеса, лебедки и механизма подъема-опускания запасного колеса</td>
        <td>&#8212;</td>
    </tr>

    <tr>
        <td>18</td>
        <td>Соответствие устройств освещения и световой сигнализации установленным требованиям</td>
        <td></td>
        <td>39</td>
        <td>Отсутствие дополнительных предметов или покрытий, ограничивающих обзорность с места водителя. Соответствие полосы пленки в верхней части ветрового стекла установленным требованиям</td>
        <td></td>
        <td>64</td>
        <td>Работоспособность механизмов подъема и опускания опор и фиксаторов транспортного положения опор</td>
        <td>&#8212;</td>
    </tr>

    <tr>
        <td>19</td>
        <td>Отсутствие разрушений рассеивателей световых приборов</td>
        <td></td>
        <td>40</td>
        <td>Соответствие норме светопропускания ветрового стекла, передних боковых стекол и стекол передних дверей</td>
        <td></td>
        <td>65</td>
        <td>Соответствие каплепадения масел и рабочих жидкостей нормам</td>
        <td></td>
    </tr>

    <tr>
        <td>20</td>
        <td>Работоспособность и режим работы сигналов торможения</td>
        <td></td>
        <td>41</td>
        <td>Отсутствие трещин на ветровом стекле в зоне очистки водительского стеклоочистителя</td>
        <td>&#8212;</td>
        <td>66</td>
        <td>Установка государственных регистрационных знаков в соответствии с требованиями</td>
        <td></td>
    </tr>

    <tr>
        <td>21</td>
        <td>Соответствие углов регулировки и силы света фар установленным требованиям</td>
        <td></td>
        <td>42</td>
        <td>Работоспособность замков дверей кузова, кабины, механизмов регулировки и фиксирующих устройств сидений, устройства обогрева и обдува ветрового стекла, противоугонного устройства</td>
        <td></td>
        <td>67</td>
        <td>Работаспособность устройства или системы вызова экстренных оперативных служб</td>
        <td></td>
    </tr>

    <tr>
        <td>22</td>
        <td>Наличие и расположение фар и сигнальных фонарей в местах, предусмотренных конструкцией</td>
        <td></td>
        <td>43</td>
        <td>Работоспособность запоров бортов грузовой платформы и запоров горловин цистерн</td>
        <td>&#8212;</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

<br>

<table style="font-weight: bold; text-align: center;">
    <tr>
        <td colspan="5">Результаты диагностирования</td>
    </tr>

    <tr>
        <td colspan="4" style="text-align: left;">Параметры, по которым установлено несоответствие</td>
        <td rowspan="2" style="width: 20%;">Пункт диагностической карты</td>
    </tr>

    <tr>
        <td>Нижняя граница</td>
        <td>Результат проверки</td>
        <td>Верхняя граница</td>
        <td style="width: 50%;">Наименование параметра</td>
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>


</table>

<table style="font-weight: bold;">
    <tr>
        <td colspan="2" style="text-align: center;">Невыполнимые требования</td>
        <td></td>
    </tr>

    <tr>
        <td width="20%;">Предмет проверки (узел, деталь, агрегат)</td>
        <td>Содержание невыполнимого требования (с указанием нормативного источника)</td>
        <td style="width: 25%;"></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>

<table>
    <tr>
        <td><b>Примечания:</b></td>
    </tr>
    <tr>
        <td>Номер карты еаисто:</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
</table>

<table style="font-weight: bold;">
    <tr>
        <td colspan="4" style="text-align: center;">Данные транспортного средства</td>
    </tr>
    <tr>
        <td>Масса без нагрузки:</td>
        <td style="font-weight: normal;">1327</td>
        <td>Разрешенная максимальная масса:</td>
        <td style="font-weight: normal; width: 20%;">1795</td>
    </tr>

    <tr>
        <td>Тип топлива:</td>
        <td style="font-weight: normal;">Бензин</td>
        <td>Пробег ТС:</td>
        <td style="font-weight: normal;">125000</td>
    </tr>

    <tr>
        <td>Тип тормозной системы:</td>
        <td style="font-weight: normal;">Гедравлический</td>
        <td rowspan="2" colspan="2"></td>
    </tr>

    <tr>
        <td>Марка шин:</td>
        <td style="font-weight: normal;">BRIDGESTONE</td>
    </tr>
</table>

<table>
    <tr>
        <td style="padding: 15px 3px; width: 40%;"><b>Заключение о возможности/невозможности <br> эксплуатации транспортного средства<br>Result of the roadworthiness inspection</b></td>
        <td style="width: 60%; padding: 0 80px;">
            <table style="text-align: center;">
                <tr>
                    <td width="80">Возможно <br>Passed</td>
                    <td width="80">Невозможно <br>Failed</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<table>
    <tr>
        <td style="width: 60%; padding: 15px 3px;"><b>Пункты диагностической карты, требующие повторной проверки:</b></td>
        <td></td>
    </tr>
</table>

<table>
    <tr>
        <td class="no-border" style="width: 10%;"><b>Дата:</b></td>
        <td class="no-border">
            <table style="margin: 0; padding: 10px 0; text-align: center; width: 160px;">
                <tr>
                    <td>2</td>
                    <td>2</td>
                    <td>0</td>
                    <td>5</td>
                    <td>2</td>
                    <td>0</td>
                    <td>0</td>
                    <td>7</td>
                </tr>
            </table>
        </td>
        <td class="no-border" rowspan="5" style="width: 30%;"></td>
    </tr>

    <tr>
        <td  class="no-border" colspan="2"><b>ОАО ЛАЛ 07598</b></td>
    </tr>

    <tr>
        <td class="no-border" colspan="2"><b>Ф.И.О технического эксперта: </b>КОЗЕРОВ ВЛАДИМИР АЛЕКСАНДРОВИЧ</td>
    </tr>

    <tr>
        <td class="no-border" ><b>Подпись</b></td>
        <td class="no-border" ><b>Штамп</b></td>
    </tr>

    <tr>
        <td class="no-border" style="padding-bottom: 20px;"><b>Signature</b></td>
        <td class="no-border" style="padding-bottom: 20px;"><b>Stamp</b></td>
    </tr>
</table>
<p style="font-size: 8px; text-align: right;">Электронные печать и подпись верны, согласно приказу №24/01 от 15.05.2015</p>

</body>
</html>













